<div class="modal fade" id="modalFirmas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="max-width: 100rem;">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalCenterTitle">{{unidadOperante}} - REGISTRO DE FIRMAS</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">
                <!-- Botón para activar y desactivar el collapse -->
                <button (click)="abrirCollapseAgregarFirma()" style="background-color: #691B31; color:#ffffff" class="btn btn-info" type="button">
                    Agregar Firmas
                </button>

                

                <!-- Tabla de firmas -->
                <div class="d-flex justify-content-center">
                    <table class="table table-sm table-bordered table-responsive table-striped" style="width: 100%; table-layout: fixed; margin-bottom: 0;">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cargo</th>
                                <th>Email</th>
                                <th>Actualizar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>

                        <tbody *ngFor="let firma of firmas; let i = index">
                            <tr>
                                <td style="font-style: italic;">
                                    <label>{{ (firma.cNombre + ' ' + firma.cPaterno + ' ' + firma.cMaterno) | uppercase }}</label>
                                </td>
                                <td style="font-style: italic;">
                                    <label>{{firma.cPuesto}}</label>
                                </td>
                                <td style="font-style: italic;">
                                    <label>{{firma.cEmail}}</label>
                                </td>
                                <td class="actions">
                                    <a role="button" aria-selected="true" style="color:#691B31;" (click)="abrirCollapseEditarFirma(i)">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                                <td class="actions">
                                    <a role="button" (click)="eliminarFirma(i)" style="color:#691B31;">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

				<form id="alta_datos" name="alta_datos" class="form-horizontal"  novalidate>
                    
                    <!-- Inicio del collapse para agregar una nueva firma -->
                    <div class="collapse content-collapse" id="collapseAgregarFirma">
                        <div class="collapse-header">
                            <h2 class="modal-title" id="exampleModalCenterTitle">INGRESAR DATOS</h2>
                        </div>

                        
                        <br>
                        <hr>
                        <!-- Datos personales -->
                        <div class="form-row align-items-center">
                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Nombre</label>
                                <input type="text" class="form-control" id="cNombre" name="cNombre" [(ngModel)]="firmaNueva.cNombre" (input)="toUpperCase($event)" required>
                            </div> 

                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">A. Paterno</label>
								<input type="text" class="form-control" id="cPaterno" name="cPaterno" [(ngModel)]="firmaNueva.cPaterno" (input)="toUpperCase($event)" required>
                              </div>
							  <div class="col-4">
                                <label class="label-title" for="inlineFormInput">A. Materno</label>
								<input type="text" class="form-control" id="cMaterno" name="cMaterno" [(ngModel)]="firmaNueva.cMaterno" (input)="toUpperCase($event)"required>
                              </div>
                        </div>

                        <div class="form-row align-items-center">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <label class="label-title" for="inlineFormInput">CURP</label>
								<input type="text" class="form-control" id="cCurp" name="cCurp" [(ngModel)]="firmaNueva.cCurp" (input)="toUpperCase($event)"required>
                               
                            </div>

                            <div class="col-1"></div>

                        </div>

                        <br>
                        <hr>

                        <!--Datos Cargo y correo -->
                        <div class="form-row align-items-center">
                            <div class="col-12">
                                <label class="label-title" for="inlineFormInput">Cargo</label>
								<select class="form-control" name="idCargo" id="idCargo" [(ngModel)]="firmaNueva.idCargo" required>
                                    <option>4</option>
                                  </select>
                            </div>

                            <div class="col-12">
                                <label class="label-title" for="inlineFormInput">Correo Electrónico</label>
								<input type="email" class="form-control" id="cEmail" name="cEmail" [(ngModel)]="firmaNueva.cEmail" required>
                            </div>
                        </div>

                        <br>
                        <hr>
                        <!-- Datos Telefono -->

                        <div class="form-row align-items-center">
                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Celular</label>
                                <input type="tel" class="form-control" id="cCelular" name="cCelular" (input)="toUpperCase($event)" [(ngModel)]="firmaNueva.cCelular">
                            </div>
                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Teléfono</label>
                                <input type="tel" class="form-control" id="cTelefono" name="cTelefono" (input)="toUpperCase($event)" [(ngModel)]="firmaNueva.cTelefono">
                            </div>
                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Extensión</label>
                                <input type="text" class="form-control" id="cExtension" name="cExtension" (input)="toUpperCase($event)" [(ngModel)]="firmaNueva.cExtension">
                            </div>
                        </div>

                        <br>
                        <hr>

                        <!-- Datos de puesto y titulo -->

                        <div class="form-row align-items-center">
                            <div class="col-2"></div>
                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Título</label>
                                <input type="text" class="form-control" id="cTitulo" name="cTitulo" (input)="toUpperCase($event)" [(ngModel)]="firmaNueva.cTitulo">
                            </div>

                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Puesto</label>
                                <input type="text" class="form-control" id="cPuesto" name="cPuesto" (input)="toUpperCase($event)" [(ngModel)]="firmaNueva.cCargo">
                            </div>
                            <div class="col-2"></div>
                        </div>

                        <!-- Boton Agregar firma -->
                        
                        <div class="col-12">
                            <button class="btn btn-primary btn-lg btn-block btnSave" style="max-width: 100%;" (click)="agregarFirma()">
                                <img width="35" height="35" src="https://img.icons8.com/ios-filled/100/add-user-male.png" alt="add-user-male"/>
                                Agregar Firma
                            </button>
                            
                        </div>
        
                    </div> <!-- Fin del collapse para agregar una nueva firma -->


                    <!-- Inicio del colappse para poder actualizar una firma -->

                    <div class="collapse content-collapse" id="collapseEditarFirma" *ngIf="firmaEditar">
                        <div class="collapse-header">
                            <h2 class="modal-title" id="exampleModalCenterTitle">ACTUALIZAR DATOS</h2>
                        </div>

                        
                        <br>
                        <hr>
                        <!-- Datos personales -->
                        <div class="form-row align-items-center">
                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" (input)="toUpperCase($event)" [(ngModel)]="firmaEditar.cNombre" required>
                            </div> 

                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">A. Paterno</label>
								<input type="text" class="form-control" id="paterno" name="paterno" (input)="toUpperCase($event)" [(ngModel)]="firmaEditar.cPaterno" required>
                              </div>
							  <div class="col-4">
                                <label class="label-title" for="inlineFormInput">A. Materno</label>
								<input type="text" class="form-control" id="materno" name="materno" (input)="toUpperCase($event)" [(ngModel)]="firmaEditar.cMaterno" required>
                              </div>
                        </div>

                        <div class="form-row align-items-center">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <label class="label-title" for="inlineFormInput">CURP</label>
								<input type="text" class="form-control" id="curp" name="curp" (input)="toUpperCase($event)" [(ngModel)]="firmaEditar.cCurp" disabled>
                            </div>

                            <div class="col-1"></div>

                        </div>

                        <br>
                        <hr>

                        <!--Datos Cargo y correo -->
                        <div class="form-row align-items-center">
                            <div class="col-12">
                                <label class="label-title" for="inlineFormInput">Cargo</label>
								<select  class="form-control" name="cargo" id="cargo" disabled>
                                    <option >{{firmaEditar.cPuesto}}</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label class="label-title" for="inlineFormInput">Correo Electrónico</label>
								<input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="firmaEditar.cEmail" required>
                            </div>
                        </div>

                        <br>
                        <hr>
                        <!-- Datos Telefono -->

                        <div class="form-row align-items-center">
                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Celular</label>
                                <input type="tel" name="cel" id="cel" [(ngModel)]="firmaEditar.cCelular" class="form-control">
                            </div>
                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Teléfono</label>
                                <input type="tel" class="form-control" name="tel" id="tel" (input)="toUpperCase($event)" [(ngModel)]="firmaEditar.cTelefono" >
                            </div>
                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Extensión</label>
                                <input type="text" class="form-control" name="extension" id="extension" (input)="toUpperCase($event)" [(ngModel)]="firmaEditar.cExtension" >
                            </div>
                        </div>

                        <br>
                        <hr>

                        <!-- Datos de puesto y titulo -->

                        <div class="form-row align-items-center">
                            <div class="col-2"></div>
                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Título</label>
                                <input type="text" class="form-control" name="titulo" id="titulo" (input)="toUpperCase($event)" [(ngModel)]="firmaEditar.cTitulo">
                            </div>

                            <div class="col-4">
                                <label class="label-title" for="inlineFormInput">Puesto</label>
                                <input type="text" class="form-control" name="puesto" id="puesto"  (input)="toUpperCase($event)" [(ngModel)]="firmaEditar.cPuesto" >
                            </div>
                            <div class="col-2"></div>
                        </div>

                        <!-- Boton Agregar firma -->
                        
                        <div class="col-12">
                            <button class="btn btn-primary btn-lg btn-block btnSave" style="max-width: 100%;" (click)="editarFirma()">
                                <img width="35" height="35" src="https://img.icons8.com/ios-filled/100/add-user-male.png" alt="add-user-male"/>
                                Actualizar Datos
                            </button>
                            
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>
