<div class="modal fade" id="modalReducirFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Reducir el <strong>tamaño </strong> de un archivo digital </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/guiaPDF/Diapositiva1.PNG" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                            <img src="img/guiaPDF/Diapositiva2.PNG" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                            <img src="img/guiaPDF/Diapositiva3.PNG" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item ">
                            <img src="img/guiaPDF/Diapositiva4.PNG" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                            <img src="img/guiaPDF/Diapositiva5.PNG" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                            <img src="img/guiaPDF/Diapositiva6.PNG" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item ">
                            <img src="img/guiaPDF/Diapositiva7.PNG" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                            <img src="img/guiaPDF/Diapositiva8.PNG" class="d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item">
                            <img src="img/guiaPDF/Diapositiva9.PNG" class="d-block w-100" alt="...">
                        </div>
                        
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>

        
        </div>
    </div>
                 
</div>	   
   