<!-- Precarga de la imagen para asegurar carga rápida -->
<img src="/img/apertura4to.jpg" alt="Preload" style="display: none;">

<!-- Modal -->
<div class="modal fade" id="ModalMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" style="max-width: 60rem;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="/img/apertura4to.jpg" class="img-fluid" alt="">

                <div style="margin-top: 4rem;">
                    <a style="color: #691B31; font-size: 1.5rem; cursor: pointer; text-decoration: none;" class="ml-auto">Manual de Usuario Unidad Admnistrativa</a>
                </div>
            </div>
        </div>
    </div>
</div>
