<nav class="navbar sticky-top navbar-expand-lg p-3 text-reset" style="background-color: #691B31; color: #ffffff; ">
  <a class="navbar-brand text-white text-nowrap" role="button" style="font-size: 1.5em;">SIPLANEVA 3.1</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-wrap: wrap; width: 100%;">
    <ul class="navbar-nav mr-auto">

      <!-- Reportes -->
      <li class="nav-item active">
        <a class="nav-link text-white text-nowrap text-truncate"  style="font-size: 1.2em;">Reportes</a>
      </li>

      <!-- Cédulas de Evidencia Dropdown -->
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle text-white text-nowrap text-truncate"  role="button" data-toggle="dropdown" aria-expanded="false" style="font-size: 1.2em;">
          Cédulas de Evidencia
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="../reportes/ejecutaCedula.php" target="_blank">Cédulas de Evidencia 1er. Trimestre</a>
          <a class="dropdown-item" href="../reportes/ejecutaCedula2.php" target="_blank">Cédulas de Evidencia 2do. Trimestre</a>
          <a class="dropdown-item" href="../reportes/ejecutaCedula3.php" target="_blank">Cédulas de Evidencia 3er. Trimestre</a>
          <a class="dropdown-item" href="../reportes/ejecutaCedula4.php" target="_blank">Cédulas de Evidencia 4to. Trimestre</a>
        </div>
      </li>

      <!-- Seguimiento Matriz Indicadores Dropdown -->
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle text-white text-nowrap text-truncate" role="button" role="button" data-toggle="dropdown" aria-expanded="false" style="font-size: 1.2em;">
          Seguimiento Matriz Indicadores (SED 1 MIR)
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="../reportes/ejecutaSed1.php" target="_blank">Seguimiento Matriz Indicadores 1er. Trimestre</a>
          <a class="dropdown-item" href="../reportes/ejecutaSed1_2.php" target="_blank">Seguimiento Matriz Indicadores 2do. Trimestre</a>
          <a class="dropdown-item" href="../reportes/ejecutaSed1_3.php" target="_blank">Seguimiento Matriz Indicadores 3er. Trimestre</a>
          <a class="dropdown-item" href="../reportes/ejecutaSed1_4.php" target="_blank">Seguimiento Matriz Indicadores 4to. Trimestre</a>
          <a class="dropdown-item" href="../reportes/ejecutaSed1_5.php" target="_blank">Seguimiento Matriz Indicadores Anual</a>
        </div>
      </li>

      <!-- Resultados por Indicador Dropdown -->
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle text-white text-nowrap text-truncate" role="button" role="button" data-toggle="dropdown" aria-expanded="false" style="font-size: 1.2em;">
          Resultados por Indicador (SED 2 -RR1)
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="../reportes/ejecutaVistaIndicador.php" target="_blank" style="background-color: #DDC9A3;">(SED 2 -RR1) 1er. Trimestre</a>
          <a class="dropdown-item" href="../reportes/ejecutaVistaIndicador2.php" target="_blank" style="background-color: #691B31; color: #ffffff;">(SED 2 -RR1) 2do. Trimestre <span class="badge badge-pill badge-light">¡Reporte Disponible!</span></a>
          <a class="dropdown-item" href="../reportes/ejecutaVistaIndicador3.php" target="_blank">(SED 2 -RR1) 3er. Trimestre</a>
          <a class="dropdown-item" href="../reportes/ejecutaVistaIndicador4.php" target="_blank">(SED 2 -RR1) 4to. Trimestre</a>
        </div>
      </li>

    </ul>
  </div>
</nav>
