<div class="container content-custom">
  <div class="d-flex gap-1">
    <!-- Botones dinámicos de los trimestres -->
    <ng-container *ngFor="let trimestre of trimestres">
      <div *ngIf="trimestre.activo">
        <button
          class="btn"
          style="background-color: #575757; color: #ffffff; min-width: 15rem;"
          (click)="gestionarTrimestre(trimestre)">
          {{ trimestre.registrado ? 'Modificar' : 'Ingresar' }} {{'meta alcanzada ' + trimestre.nombre }}
        </button>
      </div>
    </ng-container>
    
    <!-- Botones adicionales -->
    <button
      (click)="abrirModal('cedulaEvidenciaDos')"
      class="btn"
      style="background-color: #691B31; color:#ffffff; min-width: 15rem;">
      Subir Cédula de Evidencia
    </button>
    <button
      (click)="abrirModal('MirFirmada')"
      class="btn"
      style="background-color: #691B31; color:#ffffff; min-width: 15rem;">
      Subir MIR Firmada
    </button>
    <button
      (click)="abrirModal('modalCausasEfectos')"
      class="btn"
      style="background-color: #691B31; color:#ffffff; min-width: 15rem;">
      Causas y Efectos reportados
    </button>
    <button
      (click)="abrirModal('modalSeguimientoEval')"
      class="btn"
      style="background-color: #691B31; color:#ffffff; min-width: 15rem;">
      Seguimiento y Evaluación
    </button>
    <button
      (click)="abrirOffCanvas('aspectosMejora')"
      class="btn"
      style="background-color: #691B31; color:#ffffff; min-width: 15rem;">
      Aspectos de Mejora
    </button>
  </div>
 </div>


 <div class="offcanvas custom-offcanvas" data-bs-scroll="true" data-bs-backdrop="false" id="aspectosMejora">
  <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Aspectos de Mejora</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" *ngIf="seguimiento">
    
      <div class="card-body">
        <div class="card-tite font-weight-bold" style="color: #691B31;" >Aspectos de mejora - Trim 1</div>
        <h6 class="my-0">{{seguimiento.MJS1}}</h6>
      </div>

      <ul class="list-group mb-3" *ngIf="seguimiento">

        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="font-weight-bold" style="color: #691B31;" >Aspectos de mejora - Trim 2</small>
            <h6 class="my-0">{{seguimiento.MJS2}}</h6>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="font-weight-bold" style="color: #691B31;" >Aspectos de mejora - Trim 3</small>
            <h6 class="my-0">{{seguimiento.MJS3}}</h6>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="font-weight-bold" style="color: #691B31;" >Aspectos de mejora - Trim 4</small>
            <h6 class="my-0">{{seguimiento.MJS4}}</h6>
          </div>
        </li>
      </ul>
  </div>
</div>
      