<div class="modal fade" id="modalCausasEfectos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="max-width: 100rem">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"><strong>{{tituloIndicador}}</strong><br> Consulta de Causas y Efectos Reportados</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" *ngFor="let tab of tabData; let i = index">
                      <a
                        role="button"
                        class="nav-link"
                        [ngClass]="{ active: i === 0 }"
                        (click)="cuasaEfectoSeleccionado(i + 1, tab.label)"
                        style="background-color: #691B31; color:#ffffff">
                        {{ tab.label }}
                      </a>
                    </li>
                  </ul>

                <div class="tab-pane" role="tabpanel">
                    <hr>
                    <h5 class="mt-2 text-center">{{periodo}}</h5>
                    <hr>

                    <div class="card mt-2">
                        <div class="card-header d-flex justify-content-center">
                            Metas Alcanzadas
                        </div>
                        <div class="card-body">
                           <label class="fw-normal"><strong>{{metaAlcanzada}}</strong></label>   
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-header d-flex justify-content-center">
                            Causas de las variaciones
                        </div>
                        <div class="card-body">
                           <label><strong>{{causa}}</strong></label>   
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-header d-flex justify-content-center">
                            Efectos de las variaciones
                        </div>
                        <div class="card-body">
                           <label class="fw-normal"><strong>{{efecto}}</strong></label>   
                        </div>
                    </div>

                    <div class="form-row align-items-center mt-2">
                        <div class="col-12" *ngIf="!(trimSelect === 5) && !(trimSelect === 0)">
                           <label class="" for="inlineFormInput">Evidencias</label>
                           <label class="" for="inlineFormInput"><strong>{{evidencia}}</strong></label> <br>
                           <label class="" for="inlineFormInput"><i class="fas fa-link"></i></label>
                           <a href="http://localhost{{ruta}}" target="_blanck">Evidencia Trimestre {{trimSelect}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>