<!-- Card Graficas -->
	
<div class="card">
    <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-1 mb-1 text-white" style="background-color: #575757;">Avance Trimestral</h5>
    <div class="card-body">
        <canvas id='bar' class="my-4 w-100 chart chart-bar" chart-data="datos" chart-labels="etiquetas" chart-series="series" chart-options="options" chart-colors="colors"></canvas>
    </div>
</div>
<hr>
<div class="card">
    <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-1 mb-1 text-white" style="background-color: #575757;">Comportamiento Anual</h5>
    <div class="card-body">
        <canvas id='canvas_js' class="my-4 w-100 chart chart-line" chart-data="datosLine" chart-labels="etiquetasLine" chart-series="seriesLine" chart-colors="colorsA" chart-options="optionsA"></canvas>
    </div>
</div>

