<!-- Card Graficas -->
 
<div class="card">
    <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-1 mb-1 text-white" style="background-color: #575757;">Avance Trimestral</h5>
    <div style="width: 100%; height: 300px; padding: 1rem;"> <!-- Define un tamaño máximo -->
      <canvas id="myChart"></canvas>
    </div>
</div>

<hr>
<div class="card">
    <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-1 mb-1 text-white" style="background-color: #575757;">Comportamiento Anual</h5>
    <div class="card-body">
      <canvas id="canvas_js" class="my-4 w-100 chart chart-line"></canvas>
    </div>
</div>
  