.btn-FsCustom{
    font-size: 1.5rem
}

textarea{
    font-size: 1.6rem;
}

input{
    font-size: 1.6rem;
}

.btn-guardar{
    height: 5rem;
    font-size: 2rem;
}

.incon-save{
    height: 3rem;
    width: 3rem;
    color: #ffffff;
}