
<div class="container">
    <div class="row justify-content-md-center">
    
        <div class="col-sm-12" style="padding-top: 1%; padding-left: 35%; padding-right: 35%; padding-bottom: 0%;">
            
            <a href="#"><img src="img/Educacion-01.png" class="img-fluid mb-0" style="padding-top: 0%; padding-bottom: 0%;"></a>
        </div>

        <div class="col-sm1-12" style="padding-left: 15%; padding-right: 15%;">
        
            <div class="row">

                <div id="loginbox" class="mainbox col-md-8 col-sm-8 offset-md-2 offset-sm-2">                
                    <div class="panel panel-default" >
                        <div class="panel-body" >
                            <div class="row">
                            
                                    <img src="img/medicion.png" class="img-fluid mt-0" style="padding-top: 0%; padding-bottom: 0%; size: 75%;">
                            <div class="row">

                                <!-- Card Planeacion 24 -->
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <!-- Cabecera de la card de planeacion 24-->
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Planeación 2024</h5>
                                            <a href="loginplanT.php"  target="_blank" class="btn btn-primary" id="grad3">Ingresar</a>
                                        </div>										  
                                        <div class="card-footer text-muted" style="background-color:#691B31; color:#ffffff">
                                            <!-- Pie de la card de planeacion 24-->
                                        </div>
                                    </div>
                                </div>

                                <!-- Card Seguimiento 24 -->
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <!-- Cabecera de la card seguimiento 24 -->
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Seguimiento 2024</h5>
                                            <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                                            <a [routerLink]="'/seguimiento'" class="btn btn-primary" id="grad3" target="_blank" rel="noopener noreferrer">Ingresar</a>
                                        </div>

                                        <div class="card-footer text-muted" style="background-color:#691B31; color:#ffffff">
                                            <!-- Pie de la card seguimiento 24 -->
                                        </div>
                                    </div>
                                </div>

                                <!-- card Text SIPLANEVA -->
                                <div class="col-sm-6"><br>
                                    <div class="card text-white bg-secondary mb-3">
                                        <div class="card-body">
                                            <h5 class="card-title text-center"><strong>SIPLANEVA 3.0 </strong></h5>
                                            <p class="card-text"><h6 class="h6 mb-3 font-weight-normal text-center">Sistema de Información, Planeación y Seguimiento 3.0</h6>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card Seguimiento 23 -->
                                <div class="col-sm-6"><br>
                                    <div class="card">
                                        <div class="card-header">
                                            <!-- Cabecera card seguimiento 23 -->
                                        </div>

                                        <div class="card-body">
                                            <h5 class="card-title">Seguimiento 2023</h5>
                                            <a href="Inicio" target="_blank" class="btn btn-primary" id="grad3">Ingresar</a>
                                        </div>

                                        <div class="card-footer text-muted" style="background-color:#691B31; color:#ffffff">
                                            <!-- Pie Seguimiento 24 -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="form-group">
                                    <div class="col-sm-6 offset-md-3">
                                        <img src="img/pleca.png" class="img-fluid mx-auto d-block" />
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
                
            </div>
         </div>
    </div>  
</div>


<!-- Model -->

<div id="myModal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 600px!important" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-11">
                    <div class="alert alert-dark" role="alert">    
                         <h4 class="modal-title text-center" id="exampleModalCenterTitle"><strong>SIPLANEVA 3.0</strong></h4>
                     </div>
                 </div>
                 <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close"></button>
            </div>

            <div class="modal-body">
               <ul>
                    <li><h5>El Sistema SIPLANEVA 3.0 estará abierto del <strong>18 al 22 de abril de 2024</strong> para el registro de los avances de metas del POA del 1er. Trim 2024</h5></li>
                    <li><h5>Ingresar en el apartado, <strong>Seguimiento 2024.</strong></h5></li>
                    <li><h5>Nota: <strong style="color:red;"> Cuando la meta alcanzada sea entre 1 y 9, anteponer un cero (01, 02, 03...) </strong> del 10 y superior no se antepone el cero (10, 11.., 56, 57..., 100, 101) </h5></li>   
                </ul>
            </div>
            
            <div class="modal-footer">
               <!-- <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>-->
                <button style="background-color: #691B31; color:#ffffff" class="btn btn-primary col-12"  data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>

 



  